body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Header {
  display: flex;
  justify-content:center;
  margin-top: 30px;
  background-color: rgb(254, 212, 219);
  border-radius: 12px;
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
  
}

Footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background-color: rgb(250, 209, 255);
  text-align:center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

Content {

  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgb(101, 43, 53)
}

ul {
  width: 100%;
  list-style:none;
  padding: 20px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:20px;
  margin: 8px;
  background-color: rgb(212, 211, 211);
  margin-right: 50px;
}

.item input[type="checkbox"]{
  text-align: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 16px;
}
.item > label {
  font-size: 20px;
  flex-grow: 1;
}

.item svg {
  width:40px;
  height: 23px;
  cursor: pointer;
  font-size:16px;
  color: rgb(151, 151, 241);
}
.item svg:focus,
.item svg:hover {
  color: rgb(235, 111, 111);

}

main > p {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align:center;
}

form {

  display:flex;
  justify-content:center;
  align-items: center;
  margin-top:25px;

}

.addForm input[type='text']{
  flex-grow:1;
  cursor:pointer;
  margin-left:30px;
  /* margin-right:30px; */
  height:40px;
  border-radius:6px;
  font-size:15px;
  margin-right:6px;
  padding-left:10px;
  background-color:rgb(226, 226, 246);
}

form > button {
  margin-right:30px;
  height:45px;
  border-radius:6px;
  width:45px;
  color: rgb(0, 69, 0);
  background-color:rgb(177, 255, 195)
}

/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {
  /* Styles */
  body {
    margin-right:40px;
    margin-left:40px;
  }
}

/* iPads (portrait and landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  body {
    margin-right:400px;
    margin-left:400px;
  }
}

/* Desktops and laptops  min 1224 */
@media only screen and (min-width: 1224px) {
  /* Styles */
  body {
    margin-right:300px;
    margin-left:300px;
  }
}
